<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/delete.js" defer></script>
    <script src="/main.js" defer></script>
    <title>article</title>
</head>
<body>
        <h1>sports article</h1>
        <h2><%= art.title %></h2>
        <span><%= art.datePosted %></span>
        <p><%= art.postDescription %></p>
        <p><%= art.markdown %></p>
        <button class="more"><a href="/">Home</a></button>
        <button class="edit"><a href="/edit/<%= art._id %>">Edit Article</a></button>
        <button class="delete"><a href="/">Delete Article</a></button>
</body>
</html>